body {
    background: url(img/1640356589_57-funart-pro-p-belie-foni-s-chernimi-tochkami-61.png);
    margin: 0;
    background-color: rgba(9, 36, 36, 0.68);
    color: blanchedalmond;
    font-family: monospace;
    font-size: 10px;
}
.card {
    width: 200px;   
    margin: 50px auto;
    box-shadow: 0 5px 10px #ccc;
    border-radius: 15px;
    padding: 15px;
    background-color: darkturquoise;
 
}
.chelik {
    border-radius: 50%;
    background-color: darkcyan;
    display: block;
    width: 200px;
    height: 180px;
    margin: 0 auto;
}
.Title {
font-family: monospace;
text-align: center;
    margin: 0 auto;
    color: red;
}
.text {
    color: darkgreen;   
    font-size: 20px;
}
.skills {
    margin-left: -20px;
}